.legend {
    font-style: italic;
}

.palier-zi {
    font-style: italic;
}
.zi1{
    color: #FF1700;
}
.zi2 {
    color: #FFD000;
}
.zi3 {
    color: #ABFF00;
}
.zi4 {
    color: #2AE100;
}


.palier-wi {
    font-style: italic;
}
.wi1{
    color: #FF1700;
}
.wi2{
    color: #FFD000;
}
.wi3{
    color: #2AE100;
}