.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: -400px;
    background-color: #f1f1f1;
    padding: 20px;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar.open {
    width: 250px;
    right: 0px;
}

#closeSidebar {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
