#map {
    height: 100vh;
}


#menu {
    height: 100vh;
}


.imgLogo{
    margin: 10px;
    width: 30%;
}

.text_logo{
    font-size: 2em;
    font-weight: bold;
}

.checkboxLabel{
    font-size: medium;
}

h4 {
    font-weight: bold;
}